


<div class="s-b">
<div clas= "m-d">


</div>
   
<div class="b-r">
    <div>
      <input
        type="text"
        id="movie-title"
        name="movie-title"
        placeholder="Saisir un titre ici..."
        [(ngModel)]="searchTitle"
        (keypress)="searchedTitle()"
        (keyup.backspace)="searchedTitle()"
  
      />
      <i class='bx bxs-search' style="font-size: 16px; color: yellow;"></i>
    </div>
    <div>
      <label for="movie-title"></label>
    </div>
  </div>
  
<div class="m-d">
  </div> 
</div>
  